In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
data=pd.read_csv('Traning1.csv',index_col='Complaint-ID')
data.head()

,Transaction-Type,Complaint-reason,Company-response,Complaint-Status,Consumer-disputes
Complaint-ID,,,,,
Tr-1,1,"Loan servicing, payments, escrow account",1,1,1.0
Tr-2,2,Incorrect information on credit report,2,2,0.0
Tr-3,3,Using a debit or ATM card,1,1,0.0
Tr-4,4,Cont'd attempts collect debt not owed,3,1,0.0
Tr-5,5,Payoff process,4,1,0.0

In [13]:
compl_reas=data['Complaint-reason'].unique()
compl_reas.shape
a=np.arange(1,151)
data['Complaint-reason']=data['Complaint-reason'].map(dict(zip(compl_reas,a)))
data.head()

,Transaction-Type,Complaint-reason,Company-response,Complaint-Status,Consumer-disputes
Complaint-ID,,,,,
Tr-1,1,1,4,1,1.0
Tr-2,2,2,2,2,0.0
Tr-3,3,3,4,1,0.0
Tr-4,4,4,3,1,0.0
Tr-5,5,5,4,1,0.0

In [12]:
data['Company-response']=data['Company-response'].replace(1,4)
# data['Company-response'].value_counts()
data.head()

,Transaction-Type,Complaint-reason,Company-response,Complaint-Status,Consumer-disputes
Complaint-ID,,,,,
Tr-1,1,"Loan servicing, payments, escrow account",4,1,1.0
Tr-2,2,Incorrect information on credit report,2,2,0.0
Tr-3,3,Using a debit or ATM card,4,1,0.0
Tr-4,4,Cont'd attempts collect debt not owed,3,1,0.0
Tr-5,5,Payoff process,4,1,0.0

In [14]:
data.to_csv('Training_reason_replace.csv')